{% load static %}
<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
     
  
      <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>
  
    <div id="navbarBasicExample" class="navbar-menu">
      <div class="navbar-start">
        <a href="{%url 'index'%}" class="navbar-item">
          <i class="material-icons">home</i>
          Home
        </a>
  
        <a class="navbar-item">
          <i class="material-icons">explore</i>
          Explore
        </a>

        <a class="navbar-item">
          <i class="material-icons">notifications</i>
          Notifications
        </a>

        <a class="navbar-item">
          <i class="material-icons">inbox</i>
          inbox
        </a>

        <a href="{%url 'profile' request.user%}" class="navbar-item">
          <i class="material-icons">face</i>
          profile:<strong>{{request.user}}</strong>
        </a>

        <a href={%url 'newpost'%} class="navbar-item">
          <i style="color:green;" class="material-icons">perm_media</i>
          <strong>New Post</strong>
        </a>
  
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link">
            settings
          </a>
  
          <div class="navbar-dropdown">
            <a class="navbar-item">
              change password
            </a>
            <a class="navbar-item">
              contact
            </a>
            <a class="navbar-item">
              report an issue
            </a>
            <hr class="navbar-divider">
            <a href="{%url 'logout'%}" class="navbar-item">
              Log out
            </a>
          </div>
        </div>
      </div>
  
     
    </div>
  </nav>
